In [1]:
import pandas as pd
lyrics = pd.read_csv("/home/pfl/Ironhack/week_3/project_3/chart2000-songyear-0-3-0054.csv")
lyrics.head()

,year,position,artist,song,score,us,uk,de,fr,ca,au
0,2000,1,Faith Hill,Breathe,24030.051,2,33,-,-,-,23
1,2000,2,Santana & The Product G,Maria Maria,23320.084,1,6,1,1,1,49
2,2000,3,Joe Thomas,I Wanna Know,21516.777,4,-,-,61,-,34
3,2000,4,Aaliyah,Try Again,21099.824,1,5,5,26,-,8
4,2000,5,Toni Braxton,He Wasn't Man Enough,21023.066,2,5,20,14,-,5

In [6]:
lyrics = lyrics[["position","year","artist","song"]]
lyrics.head()

   position  year                   artist                  song
0         1  2000               Faith Hill               Breathe
1         2  2000  Santana & The Product G           Maria Maria
2         3  2000               Joe Thomas          I Wanna Know
3         4  2000                  Aaliyah             Try Again
4         5  2000             Toni Braxton  He Wasn't Man Enough

In [34]:
lyrics = lyrics.loc[(lyrics["year"]==2014)|(lyrics["year"]==2015)|(lyrics["year"]==2016)|(lyrics["year"]==2017)|(lyrics["year"]==2018)]
lyrics.head()

      position  year                      artist          song
1400         1  2014           Pharrell Williams         Happy
1401         2  2014                 John Legend     All Of Me
1402         3  2014                  Katy Perry    Dark Horse
1403         4  2014  Clean Bandit & Jess Glynne     Rather Be
1404         5  2014                   Sam Smith  Stay With Me

In [52]:
only_artists = lyrics[["artist"]]

In [53]:
len(only_artists)

500

In [54]:
only_artists_uniques = only_artists.drop_duplicates()

In [55]:
len(only_artists_uniques)

344

In [63]:
only_artists_uniques = only_artists_uniques.sort_values(by=["artist"])

In [64]:
only_artists_uniques.to_csv("/home/pfl/Ironhack/week_3/project_3/only_artists_uniques.csv",index=False)